<template>
  <div
    v-if="modalVisible"
    class="flex justify-center items-center fixed h-full w-full top-0 left-0
   z-[999999] bg-black/[.6]"
  >
    <div class="w-auto bg-white border rounded-lg overflow-y-auto w-full md:w-1/3">
      <div class="border-b p-2 flex">
        <div class="grow font-semibold text-[20px]">
          {{ header }}
        </div>
        <div class="grow-0 pr-2">
          <span class="cursor-pointer" @click="close">X</span>
        </div>
      </div>
      <div class="p-2">
        <slot class="overflow-scroll" />
      </div>
      <div class="border-t p-2 flex justify-end">
        <slot name="footer" />
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { Ref, ref } from 'vue';

// REFS
const modalVisible: Ref<boolean> = ref(false);

// ACTIONS
const open = () => {
  modalVisible.value = true;
}

const close = () => {
  modalVisible.value = false;
}

defineExpose({
  open,
  close
});

defineProps({
  header: {
    type: String,
    required: true
  }
})

</script>
