@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply px-4 py-1 sm:py-3 text-center border border-gray-300 rounded inline-flex items-center justify-center h-10
}

.btn-green {
    @apply bg-green-600 text-white
}

.btn:hover {
    @apply bg-gray-300
}

.input-text {
    @apply rounded border border-gray-300 p-2 h-10
}