<template>
  <PageTitle>Prepare a label</PageTitle>

  <div class="text-center mb-3">
    Number of messages in queue (waiting for consume): {{queueSize}}
  </div>

  <div class="mb-3 text-center font-bold underline">
    The Sender it's you. So if you want to get the email please give your real email! The sent email may be in the Spam folder!
  </div>

  <div class="flex justify-center text-justify my-3">
    <div class="w-80">
      <div class="font-bold mb-3">The process:</div>
      <ul>
        <li class="mb-2">1. After submitted the form, the given data will put into a queue (RabbitMQ - CloudAMQP).</li>
        <li class="mb-2">2. After that in every minutes a cron runs a consumer which prefetch max 20 messages and process it.</li>
        <li class="mb-2">3. Under process a label is generated and will be stored on S3 and an email by MailerSend will be sent, which contains a download link.</li>
      </ul>
    </div>
  </div>

  <div class="flex justify-center items-center w-full">
    <div class="flex flex-col justify-center w-80">
      <div class="mb-3">
        <input v-model="prepareLabelRequest.senderName" type="text" class="input-text w-full" placeholder="Sender Name">
      </div>
      <div class="mb-3">
        <input v-model="prepareLabelRequest.senderEmail" type="text" class="input-text w-full" placeholder="Sender Email">
      </div>
      <div class="mb-3">
        <input v-model="prepareLabelRequest.recipientName" type="text" class="input-text w-full" placeholder="Recipient Name">
      </div>
      <div class="mb-3">
        <input v-model="prepareLabelRequest.recipientZipCode" type="text" class="input-text w-full" placeholder="Recipient Zip Code">
      </div>
      <div class="mb-3">
        <input v-model="prepareLabelRequest.recipientCity" type="text" class="input-text w-full" placeholder="Recipient City">
      </div>
      <div class="mb-3">
        <input v-model="prepareLabelRequest.recipientStreet" type="text" class="input-text w-full" placeholder="Recipient Street">
      </div>

      <div class="mb-3">
        <input v-model="prepareLabelRequest.recipientEmail" type="text" class="input-text w-full" placeholder="Recipient Email">
      </div>

      <div class="mb-3">
        <input v-model="prepareLabelRequest.recipientPhone" type="text" class="input-text w-full" placeholder="Recipient Phone">
      </div>

      <div class="text-center mb-3">
        <button class="btn" :disabled="buttonDisable" @click="send">
          Submit
        </button>
      </div>
    </div>
  </div>

</template>

<script setup lang="ts">
import { ref, Ref} from 'vue';
import {PageTitle} from "#components";

import { useLabelStore } from '~/stores/label/labelStore';
import ResponseInterface from '~/util/ResponseInterface';
import { onBeforeMount, useHead } from '#imports';
import PrepareLabelRequest from "~/stores/label/PrepareLabelRequest";

useHead({ title: 'Prepare Label - My Label by Peter Balla' });

const buttonDisable: Ref<boolean> = ref(false);
const labelStore = useLabelStore();
const prepareLabelRequest: Ref<PrepareLabelRequest> = ref(new PrepareLabelRequest());
const queueSize: Ref<number> = ref(0);

onBeforeMount(async () => {
  await queryQueueSize();
});

const queryQueueSize = async () => {
  const response: ResponseInterface = await labelStore.queryQueueSize();

  if (response.response.status !== 200) {
    alert(response.data.message);
    return;
  }

  queueSize.value = response.data.sizeOfQueue;
}
const send = async () => {
  buttonDisable.value = true;

  const response: ResponseInterface = await labelStore.prepare(prepareLabelRequest.value);

  if (response.response.status !== 201) {
    alert(response.data.message);
    buttonDisable.value = false;
    return;
  }

  buttonDisable.value = false;
  prepareLabelRequest.value.senderEmail = '';
  await queryQueueSize();
}
</script>
