<template>
  <div class="container mx-auto p-3 font-mono">
    <div class="text-center font-bold text-2xl mb-2">
      MyLabel
    </div>
    <div class="text-center text-lg mb-4">
      by Peter Balla
    </div>

    <div class="text-center mb-5">
      <NuxtLink to="/" class="btn mr-3 mb-3">
        Home
      </NuxtLink>
      <NuxtLink to="/label" class="btn mr-3 mb-3">
        Prepare Label
      </NuxtLink>
    </div>

    <NuxtPage />
  </div>
</template>
