<template>
  <div class="text-center mb-4">
    This is simple package label generator "have fun" project of a fake delivery service to demonstrate the usage of the commonly used trendy technologies like:
  </div>

  <div class="flex justify-center mb-4">
    <ul>
      <li>- Laravel 9</li>
      <li>- Nuxt 3 (with Vue3 and Pinia)</li>
      <li>- TypeScript</li>
      <li>- RabbitMQ + CloudAMQP to put necessary data for label generating in a queue</li>
      <li>- AWS S3 for generated label storage</li>
      <li>- MailerSend API</li>
      <li>- Tailwind 3.2.4</li>
      <li>- SCSS</li>
    </ul>
  </div>

  <div class="flex justify-center mb-3">
    <a class="btn btn-green" target="_blank" href="https://mylabel-api.peterballa.hu/api/docs">API Swagger</a>
  </div>

  <div class="text-center mb-3">
    <a class="btn bg-purple-400 text-white" target="_blank" href="https://gitlab.com/ballapeter/mylabel">Gitlab repo</a>
  </div>
  <div class="text-center">
    (Need Request Access)
  </div>
</template>
<script setup lang="ts">
import { useHead } from '#imports';

useHead({ title: 'My Label by Peter Balla' })
</script>
